<div class="mat-elevation-z8">
    <table mat-table [dataSource]="products">
         <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let row">{{row.id}}</td>
         </ng-container>

         <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef>Nome</th>
              <td mat-cell *matCellDef="let row">{{row.nome}}</td>
         </ng-container>

         <ng-container matColumnDef="idade">
              <th mat-header-cell *matHeaderCellDef>Idade</th>
              <td mat-cell *matCellDef="let row">{{row.idade}}</td>
         </ng-container>

         <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let row">
                   <a routerLink="/products/update/{{row.id}}" class="edit">
                       <i class="material-icons">
                             edit
                       </i>
                   </a>
                   <a routerLink="/products/delete/{{row.id}}" class="delete">
                       <i class="material-icons">
                             delete
                       </i>
                   </a>
              </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
    </table>
</div>