<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
       <mat-form-field>
          <input matInput placeholder="Nome"  name="name"
               [(ngModel)]="product.nome" name="nome">
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Preço (R$)"  name="price"
               [(ngModel)]="product.idade" name="idade">
       </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color="accent">
     Atualizar
    </button>
 
    <button mat-raised-button (click)="cancel()">
     Cancelar
    </button>
 </mat-card>
 
 
 