<mat-toolbar class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons red v-middle">
            favorite 
        </i>
        por <strong>Cod<span class="red">3</span>r</strong>
    </span>
</mat-toolbar>
