<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
       <mat-form-field>
          <input matInput placeholder="Nome"  name="name"
               [value]="product.nome" name="nome" disabled>
       </mat-form-field>
       <mat-form-field>
          <input matInput placeholder="Preço (R$)"  name="price"
               [value]="product.idade" name="idade" disabled>
       </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
     Excluir
    </button>
 
    <button mat-raised-button (click)="cancel()">
     Cancelar
    </button>
 </mat-card>
 
 
 